* {
  margin: 0;
  padding: 0;
}
html {
  text-align: center;
}
.loader {
  display: block;
  margin: auto;
}
.grid-fluid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
}
.grid_fluid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 text-align: justify;
 /* gap: 1em; */
}
.container {
  background: yellow;
}
figure{
  background-color: rgb(187, 186, 186);
  border-radius: 1rem;
  margin:0.85rem 0;
  padding: 1rem ;
}